.btn {
    display: inline-block;
    cursor: pointer;
    transition: .3;
    border: 0;
    padding: .5rem 1rem;
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;
}
.btn::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
    background-color: greenyellow;
    left: 0;
    top: 0;
    transform: translateY(-100%);
}
.btn:hover {
    color: black;
}
.btn:hover::after{
    transform: translateY(0);
}