.form {

}
.formControl label {
    font-size: 1.2rem;
    margin-bottom: 1rem ;
    margin-right: 1rem;
    display: inline-block;
    font-weight: bold;
}
.formControl input[type='text'],
.formControl input[type='url'],
.formControl textarea {
    width: 100%;
}

.formControl input,
.formControl textarea {
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    border: 1px solid;
}

